<!DOCTYPE html>
-var navMenuItems = {'Осетровые': 'main_osetr.html', 'Лососёвые': 'main_losos.html', 'Карповые': 'main_karp.html'}
-var active= 'main_losos.html'
-var containerImages = [{'class':'main_img', 'link': 'http://bionotes.ru/wp-content/uploads/2016/12/lososi-e1481067713283.jpg'}, {'class': 'slave_img1', 'link': 'https://ryba-love.ru/wp-content/uploads/2020/12/semga-na-solncze.jpg'}, {'class': 'slave_img2', 'link': 'https://ribxoz.ru/wp-content/uploads/2018/05/87498e349fbc41383b88d42933317bb4.jpg'}]
-var logoItems = [{'imageUrl':'https://kempfish.ru/wp-content/uploads/2018/11/8-min.jpg', 'text':'Мясо кеты содержит больше жира, чем мясо горбуши. Эта крупная рыба, нередко ее длина превышает один метр. Большую ценность имеет крупная ярко-оранжевая кетовая икра. Тело рыбы, живущей в морских водах, покрыто серебристой чешуей, не имеет пятен и полос. В речной воде оно становится иным.'}, {'imageUrl':'https://kempfish.ru/wp-content/uploads/2018/11/golec-min-768x432.jpg', 'text':'Физиологические, экстерьерные особенности 30 видовых форм гольца разнообразны, но среди них есть много общего. Прогонистое тело всех гольцов весьма напоминает собой торпеду. Это рыба имеет крупную голову, выпуклые, высоко расположенные глаза. Рот гольца выглядит большим и хищным, нижняя челюсть длинная.'}, {'imageUrl':'https://kempfish.ru/wp-content/uploads/2018/11/harius-min.jpg', 'text':'Быстрый и верткий хариус отличается своей красотой даже среди лососевых рыб. Его идеальное, соразмерное, крепкое тело вытянуто, покрыто плотными чешуйками серебристого цвета. Оттенки чешуи различны – голубоватые, или бледно-зеленые. Тело хариуса покрыто щедрой россыпью темных крапинок.'}, {'imageUrl':'https://kempfish.ru/wp-content/uploads/2018/11/9-min-768x256.jpg', 'text':'Особь, выловленная в морской воде, отличается насыщенным красным цветом, отличными вкусовыми качествами. Во время нереста мясо нерки приобретает белый цвет. Она имеет средние размеры, длина туловища редко превышает 80 см, вес колеблется в пределах от 2 до 4 кг. На нерест рыба уходит в реки Камчатки, Курильских островов, в Анадырь.'}]
-var authorInfo = '©Чечеткин И.А., Б9121-09.03.04(4), 2023-2024'


mixin createMenu(list, active)
	each path, name in list
		if path!= active
			a.menu_item2(href= path)= name
		else
			a.menu_item22(href= path)= name

html
	head
		title Ни хвоста, ни чешуи!😀😀
		link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
		link(rel="stylesheet", href="css/main.css")
	body

		div
			.menu
				h3.menu_item1 Семейство Лососёвых
				+createMenu(navMenuItems, active)
		
		.container-img
			each block in containerImages
				img(class=block.class src=block.link)
		
		.logo_block
			each block in logoItems
				.logo_item
					img(src=block.imageUrl)
					p= block.text 

		.main_text_block
			.main_text_block_title Лососёвые

			.main_text_block_content 
				| Семейство лососевых относится к отряду лососеобразных. Оно представлено разными видами рыб – пресноводными и анадромными (перемещающимися из морей в реки в период нереста).
				|	Его представители обитают в водах Тихого океана, Атлантики. У берегов Камчатки, Сахалина, Курильских островов находятся огромные природные нерестилища лососевых. Водятся они и в пресных водоемах Северного полушария, предпочитая озера и реки средних, северных широт.
				|	Многие представители этого семейства — промысловые рыбы. Они высоко ценятся за деликатесное мясо, вкусную, полезную красную икру. Мясо розового-красного цвета отличается невысокой калорийностью.
				|	В природе есть определенный период, когда многие представители лососевых идут из морей в реки. Так делают проходные рыбы, для воспроизводства которых требуется пресная вода, например, тихоокеанские особи, мигрирующие на нерест в реки Камчатского, Приморского края.
				|	Северная рыба размножается в середине сентября-октября, когда температура воды колеблется в пределах от 0 до 8 градусов. Лососи южных широт нерестятся с октября по январь, температура воды в это время – 3-10 градусов.
				|	Самки мечут икру в грунт, в заранее заготовленные ямы, кладку засыпают песком и галькой.
				|	Для размножения необходима быстрая река, прохладная вода, каменистое  дно. Рыба идет именно в ту реку, где она сама когда-то появилась на свет. В период нереста лососевые кардинально меняют внешний вид — окраску и даже форму тела.	У большинства лососевых тело несколько приплюснуто с боков. Его длина варьируется от нескольких сантиметров (что характерно для сиговых) до 2 метров.
				|	Крупные особи набирают вес до 70 кг (таймень, сёмга, чавыча). Средний срок жизни – 10-15 лет. Самыми крупными лососевыми считаются таймени — рыбы-долгожители, в комфортных условиях доживающие до 50 лет.
				|	О крупной особи, длина которой составляла 2,5 м, а вес – 1 центнер, известно из сообщений СМИ.

		.final_block
			img(src="http://bionotes.ru/wp-content/uploads/2016/12/losos-702-x-413.jpg")
			.final_block_content
				.final_block_content_title Таймень
				.final_block_content_text
					|Тайменя – самую крупную рыбу семейства лососевых, называют жилой рыбой, никогда не покидающей своего водоема. Его тело длинное, вытянутое, голова сплюснута с боков, сверху, несколько напоминает щучью. Рот очень широк, может открываться до жаберных отверстий. Зубы растут в несколько рядов, очень острые, загнуты вовнутрь.
					|Тело тайменя покрывает плотная мелкая чешуя серебристого цвета. Его украшают многочисленные круглые черные пятна величиной с горошинку. Спинные, грудные плавники окрашены в сероватый цвет, анальный, хвостовой плавник – в ярко-красный цвет. В брачный период сероватый окрас тела взрослых особей становится медно-красным. Он приобретает обычный внешний вид только после оплодотворения икры.
	
	footer
		.contacts ✉ Контакты
		.author= authorInfo